section {
  padding: 50px 0;
}

.section__body {
  margin-top: 50px;
}

.f__area
{
  padding: 10px;
}

.f__input
{
  padding: 12px;
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 10px;
}


.btn {
  padding: 12px 20px;
  background: #0c5c46;
  color: white;
  font-size: 14px;
  max-width: 200px;

}
.btn:hover {
  background: #128365;
}
.s__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: normal;
}
p, li {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: lighter;
}
.sb__title {
  font-size: 22px;
  font-weight: normal;
  color: #0c5c46;
  margin-bottom: 20px;
}
img .icon {
  width: 80px;
  height: 80px;

}
.upper {
  text-transform: uppercase;
}

.laser {

  height: auto;
  object-fit: cover;
  position: relative;
  top: 20%;

}

.planshet {
  
  height: 80%;
  object-fit: cover;
}

.color {
  color: #0c5c46;
}

.banner {
  width: 100%;
  height: auto;
}

.bord {
  border-bottom: 1px solid #0c5c46;
}